@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

code {
  font-family: "Roboto Mono", monospace;
  color: $success;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
