// icon
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.nav-width {
  width: 365px;
}

.list-width {
  width: 984px;
}

.fulwidth {
  width: 100%;
}

//table

.me-32 {
  margin-right: 32px;
}

.ms-32 {
  margin-left: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-63 {
  margin-top: 63px;
}

.fs-7 {
  font-size: 14px;
}

.pt-32 {
  padding-top: 32px;
}
.py-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.me-9 {
  margin-right: 9px;
}

.mb-20 {
  margin-bottom: 20px;
}
